*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(25, 25, 42);
    color: white;
}

html{
    scroll-behavior: smooth;
}



nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 90px;
    background-color: rgb(19, 19, 34);

}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav ul li{
    list-style: none;
   
}

nav ul li a{
    text-decoration: none;
    color: white;
    padding: 10px 10px;
    font-size: 20px;
    margin: 0 10px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #f81d4e;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

nav ul li a:hover{
    color: rgb(140, 140, 163);
    /* background-color: rgb(46, 46, 53); */
    /* border-radius: 10px; */
}

.download-resume{
    margin-top: 30px;

}

.download-resume a{
    padding: 15px 20px;
}



.left{
    font-size: 1.7rem;
    font-weight: bold;
}

.logoName{
    color: #f81d4e;
}

.firstSection{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px 100px;
    flex-wrap: wrap;
}

.firstSection > div{
    width: 50%;
}

.firstSection div a{
    text-decoration: none;
}

.leftSection{
    font-size: 40px;
}

.leftSection div{
    font-size: 40px;
}

.rightSection img{
    width: 30%;
  
}

.customName{
    color: #f81d4e;
}

.text-grey{
    color: grey;
}

#element{
    color: #f81d4e;
}

.secondSection{
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}

.secondSection > h1{
    font-size: 1.5rem;
}

.secondSection .box{
    background: white;
    width: 80vw;
    height: 2px;
    margin: 56px 0px;
    display: flex;
    
}

.secondSection .vertical{
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 120px;
}

.image-top{
    width: 23px;
    position: relative;
    top: -32px;
}

.vertical-title{
    position: relative;
    width: 150px;
    top: 75ps;
}

.vertical-desc{
    position: relative;
    top: 26px;
    width: 150px;
    font-size: 9px;
    color: gray;
}

/* ----- About ----- */
 
#about{
    padding: 80px 0px;

}

.row{
    display: flex;
    justify-content: space-evenly   ;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}

.about-col-1{
     flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: white;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #f81d4e;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: #ff004f;
    font-size: 14px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}


/* My Projects */

#projects{
    padding: 50px 50px;
}

/* .work-list{
    display: flex;
    margin: auto;
    margin-top: 25px;
    justify-content: center;
    background-color: white;
    border: 2px solid green;
} */

.project-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));    
    grid-gap: 40px;
    margin-top: 50px;
}


.project-list2{
    display: none;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    
   

}

#see-less-btn-id{
    display: none;
}

#see-more-btn-id{
    display: "";
}

/* .work{
    display: inline-block;
    width: 30%;
    border: 2px solid red;
    border-radius: 10px;
} */

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    width: 574;
    height: 744;
}

/* .work img{
    width: 80%;
    margin: auto;
    border: 2px solid yellow;
    border-radius: 10px;
} */

.work img{
    width: 100%;
    border-radius: 30px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 800;
    margin-bottom: 15px;
    font-size: large;

}



.see-more-btn{
    display: block;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    margin: 50px auto;
    background-color: transparent;
    font-size: 20px;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: background 0.5s;
}

.see-more-btn:hover{
    background: #ff004f;

}

.layer h4{
    margin-bottom: 15px;
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}

.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background-color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    text-align: center;
}

.proj-icon{
    display: inline-block;
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background-color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}


/* ---- Contact me -----  */

.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;
    
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2{
    padding: 14px 20px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
}

.btn{   
    color: white;
    border-radius: 15px;
    background: #f81d4e;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}

.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}

/* ------CSS for small screens------ */

nav .fas{
    display: none;
}

@media only screen and (max-width: 915px) {
    .download-resume a{
        font-size: 20px;
    }
}

@media only screen and (max-width: 600px){
    .rightSection img{
        width: 120%;
    }

    .download-resume a{
        font-size: 20px;
        padding: 6px 10px;
    }
    
    .firstSection{
        flex-direction: column-reverse; 
        margin: 50px 0px;
    }

    .leftSection{
        font-size: 30px;
        display: block;
        width: 100vw;
    }
    .leftSection div{
        font-size: 30px;
    }

    nav .fas{
        display: block;
        font-size: 25px;
    }

    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        display: block;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li{
        display: block;
        margin: 25px;
    }

    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .about-col-2 >h1{
        text-align: center;
    } 

    .about-col-2  p{
        text-align: center;
    }

    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }

    .contact-left .contact-right{
        flex-basis: 100%;
    }

    .copyright{
        font-size: 14px;
    }

    .layer{
        flex-basis: 100%;
    }
}

#msg{
    color: #61b752;
    margin-top: 10px;
    display: block;
}